<ion-view>
  <ion-content scroll="false" ng-controller="GameController">
    <ion-header-bar class="bar-dark">
      <button class="button button-icon" ng-click="toggleLeftMenu()">
        <i class="icon ion-navicon"></i>
      </button>
      <h1 class="title">Game</h1>
    </ion-header-bar>

    <ion-content scroll="false" class="dark-bg">
      <td-cards>
        <td-card ng-repeat="card in cards" class="card game-card" on-destroy="cardDestroyed($index)"
              on-tap="toggleSide()" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
              on-snap-back="cardSnapBack($index)">
          <div class="word" ng-if="showAnswer">
            {{ card.back }}
          </div>
          <div class="word" ng-if="!showAnswer">
            {{ card.front }}
          </div>
        </td-card>
      </td-cards>
    </ion-content>
  </ion-content>
</ion-view>
