
.game-card {
  height: 200px;
  font-family: "Arial", sans-serif;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
}

.game-card .item {
  margin-top: 5%;
  border-radius: 25px;
}

.game-card .item p {
  font-size: 25pt;
  line-height: 125%;
}

.game-result {
  height: 50px;
  width: 250px;
  margin: 0 auto 0 auto;
  border-radius: 10px;
  font-family: "Arial", sans-serif;
  text-align: center;
  vertical-align: middle;
}

.game-result p {
  font-size: 15pt;
  padding-top: 12px;
}

.result h1 {
  text-align: center;
  color: white;
}
